{
  "endOfLine": "lf",
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}