.banner {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $grey-10;

  &-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &-header {
    width: 50%;
  }

  &-title {
    width: 480px;
    height: 192px;

    /* H1 */
    font-family: Work Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    /* or 114% */

    display: flex;
    align-items: center;
    letter-spacing: -0.01em;

    /* $color-black */
    color: $black;
  }

  &-content {
    width: 50%;
  }

  &-card {
    width: 50%;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-image {
      max-width: 100%;
      max-height: 100vh;
      margin: auto;
    }
  }
}