.blog {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 60px;
  background-color: white;

  h2 {
    margin-top: 40px;
    margin-bottom: 60px;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 56px;
  }
  
  &-card {
    width: 100%;
    height: 396px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 24px 38px rgba(8, 5, 3, 0.03), 0px 9px 46px rgba(8, 5, 3, 0.02), 0px 11px 15px rgba(8, 5, 3, 0.06);
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &-image {
    height: 100%;
  }

  &-content {
    height: 100%;
    padding-left: 80px;
    padding-top: 40px;
    padding-bottom: 60px;
    padding-right: 80px;

    h4 {
      font-weight: 500;
      font-size: 28px;
      line-height: 40px;
      color: $black;
    }

    h5 {
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 32px;
    }
  }

  &-subtitle {
    color: $grey-70;
  }

  &-description {
    color: $grey-70;
  }

  &-date {
    color: $grey-60;
  }

  &-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    a {
      color: $secondary-color;
      font-size: 28px;
    }
  }
}
