.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 40px;

  width: 194px;
  height: 67px;
  left: 377px;
  top: 714px;

  &-state {
    &--primary {
      background-color: $black;
      color: #48DBB4;
    }
    &--secondary {
      background-color: $white;
    }
  }
}
