.carousel {
  width: 100%;
  height: 1046px;

  &-bg-1 {
    background-image: url(../images/v2/carousel-bg-1.png);
    background-repeat: no-repeat;
    background-position: left;
    // background-size: 700px 700px;
  }

  &-bg-2 {
    background-image: url(../images/v2/carousel-bg-2.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 473px 1242px;
  }

  &-bg-3 {
    background-image: url(../images/v2/carousel-bg-3.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100%;
  }
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bg {
  &-gray {
    background-color: #C0C0C0;
  }
}