.carousel {
  width: 100%;
  height: 1046px;

  &-bg-1 {
    background-image: url(../images/v2/carousel-bg-1.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 100%;
    background-color: $grey-20;
    background-blend-mode: overlay;
  }

  &-bg-2 {
    background-image: url(../images/v2/carousel-bg-2.png);
    background-repeat: no-repeat;
    background-position: 180px 120px;
    background-color: $grey-10;
    background-blend-mode: multiply;
  }

  &-bg-3 {
    background-image: url(../images/v2/carousel-bg-3.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100% 100%;
    background-color: rgba(244, 244, 244, 0.8);
    background-blend-mode: multiply;
    background-position-x: 293px;
  }
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bg {
  &-gray {
    background-color: $grey-30;
  }
}
