.contact {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $white;
  
  &-header {
    width: 100%;
    h1 {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 800;
      font-size: 56px;
      line-height: 64px;
      display: flex;
      align-items: center;
      letter-spacing: -0.01em;
      padding-top: 76px;
      padding-bottom: 76px;

      color: $black;
    }
  }

  &-content {
    h4 {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 40px;
      color: $black;
      margin: 10px 0;
    }

    h5 {
      font-family: Work Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 32px;
      color: $grey-50 !important;
    }
  }

  &-email {
    background: $white;
    border: 1px solid $black;
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;
    width: 70%;
    margin: 10px 40px;
    margin-left: 0;
    padding: 10px;
  }
}
