.grid {
  background-color: $grey-70;
  padding: 180px 0;

  &-header {
    width: 100%;
    h2 {
      font-weight: 800;
      font-size: 50px;
      line-height: 56px;
      color: $white;
    }
    h3 {
      font-weight: 500;
      font-size: 40px;
      line-height: 50px;
      display: flex;
      align-items: center;
      letter-spacing: -0.005em;
      color: $white;
    }
  }

  &-content {    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;    
  }

  &-card {
    flex: 40%;
    padding: 40px;
    margin: 20px 40px 20px 0px;
    background: $white;
    box-shadow: 0px 24px 38px rgba(8, 5, 3, 0.03), 0px 9px 46px rgba(8, 5, 3, 0.02), 0px 11px 15px rgba(8, 5, 3, 0.06);
    border-radius: 8px;

    &-header {
      display: flex;
      margin-bottom: 40px;

      h4 {
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 40px;
        margin-left: 40px;        
        width: 200px;
        color: $black;
      }
    }

    &-footer {
      margin-top: 40px;
    }
  }
}
