.ticker {
  background-color: #91E9D2;
  &-container {
    height: 81px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-content {
    padding: 20px 10px;
    margin: 0 40px;
    span {
      color: $black;
      font-family: Work Sans;
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */

      display: flex;
      align-items: center;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      text-align: center;
    }
  }
}
