.alert {
    border-radius: 8px;
    border: 0;
    background-color: $error-color;
    color: $white;
    margin: 1.5em 15px;
    padding: 6px 60px 6px 15px;
    @extend .light-font;
    font-size: 15px;
    position: relative;

    a {
        color: $white;
        text-decoration: underline;
        display: inline-block;

        &[href^=http]:after {
            content: ' ↗';
        }
    }

    p {
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .close-btn {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: 0;
        mix-blend-mode: multiply;
        padding: 6px;

        svg {
            path {
                fill: $error-color;
            }
        }
    }

    @media (min-width: #{$bp-medium}) {
        margin: 120px auto 0;
        max-width: 720px;
        text-align: center;

        p {
            display: block;
        }
    }
}
