.alert {
    text-align: center;
    border-radius: 0;
    border: 0;
    background-color: transparent;
    color: $white;
    margin: 1.5em 15px;
    padding: 0;
    @extend .light-font;
    font-size: 15px;

    .body {
        display: inline-block;
        background-color: $error-color;
        padding: 6px;
        border-radius: 8px;
    }

    a {
        color: $white;
        text-decoration: underline;
        display: inline-block;

        &[href^=http]:after {
            content: ' ↗';
        }
    }

    p {
        margin-bottom: 0;
    }

    @media (min-width: #{$bp-medium}) {
        margin: 120px auto 0;

        .body {
            padding: 6px 60px 6px 15px;
        }
    }
}
