.alert {
  border-radius: 0;
  border: 0;
  background-color: $secondary-color;
  color: $white;
  padding: 6px 60px 6px 15px;
  margin-bottom: 0;

  a {
    color: $white;
    text-decoration: underline;

    &[href^="http"]:after {
      content: " ↗";
    }
  }

  p {
    font-size: 14px;
    margin-bottom: 0;

    img {
      margin-right: 8px;
    }
  }

  .close-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: 0;
    mix-blend-mode: multiply;
    padding: 6px;

    svg {
      path {
        fill: $error-color;
      }
    }
  }

  @media (min-width: #{$bp-medium}) {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    text-align: center;

    p {
      white-space: nowrap;
      font-size: 14px;
    }
  }
}
