@import 'typography';

.App {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
}

.main-content {
  padding-top: 51px;
}

.jumbotron {
  padding: 0;
}

.jumbotron h1 {
  margin-top: 0;
}

input#email {
  padding: 22px 12px;
}

.profile {
  text-align: center;

  h4 {
    span {
      display: block;
      font-weight: bold;
    }
  }
}

.avatar {
  display: inline-block;
  background-color: green;
  max-width: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
}

.page-section {
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.page-section .page-section-content {
  width: 100%;
}

.quote-text {
  font-style: italic;
}

footer {
  padding: 30px 0 60px;
}

@media only screen and (min-width: 768px) {
  .main-content {
    padding-top: 0;
  }

  .jumbotron {
    padding: 0;
  }

  .page-section {
    padding: 100px 0;
  }

  .home {
    min-height: 100vh;
  }

  .navbar {
    background-color: transparent;
    border-bottom: none;
  }

  .blurb {
    .col-md-9 {
      text-align: left;
    }
  }

  .use-case {
    p {
      text-align: left;
    }
  }

  .quote.right .quote-text {
    text-align: right;
  }

  .quote.left .quote-text {
    text-align: left;
  }
}
