@import 'vars';
@import 'typography';
@import 'forms';
@import 'nav';
@import 'snippet';

.App {
  text-align: center;
}

.main-content {
  padding-top: 51px;
}

.page-section {
  display: flex;
  align-items: center;
  padding: 30px 0;

  .page-section-content {
    width: 100%;
  }

  h3 {
    margin-bottom: 0;
  }
}

.home {
  h1 {
    margin: 0 0 14px;
  }

  p {
    margin: 0 0 42px;
  }

  .form-inline {
    width: 100%;
  }
}

.about {
  background-color: @background-med-color;
  color: @light-on-dark-color;

  .form-inline {
    border-color: @light-on-dark-color;
    width: 100%;
  }
}

.learn {

  .snippet {
    .small-title {
      color: @grey-on-light-color;
    }
  }
}

.profile {
  text-align: center;

  h4 {
    span {
      display: block;
      font-weight: bold;
    }
  }
}

.avatar {
  display: inline-block;
  background-color: green;
  max-width: 100%;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.blurb {
  background-color: @background-light-color;

  p {
    font-size: 24px;
    margin: 0;
  }
}

.use-case {
  margin: 0 0 30px;

  img {
    width: 84px;
    height: 84px;
    margin-bottom: 15px;
  }

  p {
    text-align: left;
  }

  .btn {
    margin: 15px 0 0;
  }
}

footer {
  padding: 30px 0 60px;
  background-color: @background-dark-color;
}

@media only screen and (min-width: 768px) {
  .main-content {
    padding-top: 0;
  }

  .jumbotron {
    padding: 0;
  }

  .page-section {
    padding: 100px 0;
  }

  .page-section {
    padding: 100px 0;

    h2 {
      margin-bottom: 74px;
    }
  }

  .home {
    min-height: 100vh;
  }

  .about {
    .form-inline {
      width: 75%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .navbar {
    background-color: transparent;
    border-bottom: none;
  }

  .blurb {
    .col-md-9 {
      text-align: left;
    }
  }
}
