@import "~bootstrap-css-only/css/bootstrap.min.css";

@import "utilities";
@import "vars";
@import "mixins";
@import "typography";
@import "forms";
@import "button";
@import "header";
@import "profile";
@import "feature-card";
@import "page-section";
@import "alerts";
@import "collapsible-list";
@import "footer";
@import "blurb";
@import "summary-grid";
@import "minilogo-grid";
@import "keep-blog";
@import "exchanges";
@import "contact";
@import "home";
@import "join";
@import "press";
@import "info";
@import "legal";
@import "stake-page";
@import "faq";
@import "team";
@import "loading-blocks";
@import "slide-in-animation";

body {
  background-color: $white;
}

.app {
  overflow: hidden;
  margin: 0 auto;

  .page-section:first-child {
    transition: all 0.3s;
    padding: 150px 0 0;
  }

  @media (max-height: #{$bp-medium - 1}) {
    .page-section:first-child {
      padding: 72px 0 0;
    }

    .home {
      min-height: 900px;
    }

    &.announcement {
      .page-section:first-child {
        padding: 150px 0 0;
      }

      .home {
        min-height: 975px;
      }
    }
  }
}
