.faq-content {
  background-color: $white;
  
  .questions {
    background-color: $grey-10;
  }

  .faq {
    &-section {
      padding: 60px 0;
      border-bottom: 1px solid $black;

      .icon {
        img {
          width: 48px;
          height: 48px;
        }
      }

      p {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    &-question {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      p {
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 40px;
        display: flex;
        align-items: center;
        color: $black;
        margin: 0;
      }
    }

    &-answer {
      color: $grey-70;
      max-width: 60%;
    }
  }
}
