.form-inline {
    display: inline-block;
    border: solid 2px @light-blue-grey;
    border-radius: @border-radius;
    background-color: @white;
    margin: 0 0 1em;
    position: relative;

    input {
        padding: 22px 12px;
        border-color: transparent;
        box-shadow: none;
        border-radius: @border-radius;
        outline: 0;

        &.form-control {
            border-color: transparent;
            box-shadow: none;
            display: inline-block;
            width: 100%;
        }
    }

    .form-group {
        display: inline-block;
        margin-bottom: 0;
        width: 100%;

        &.has-success {
            .form-control {
                &:focus {
                    border-color: transparent;
                    box-shadow: none;
                }
            }
        }

        &.has-error {
            .form-control {
                &:focus {
                    border-color: transparent;
                    box-shadow: none;
                }
            }
        }
    }

    .btn {
        position: absolute;
        top: 0;
        right: 0;
    }
}
