.form-inline {
    display: inline-block;
    border: solid 2px @light-blue-grey;
    border-radius: @border-radius;
    background-color: @white;

    input {
        padding: 22px 12px;
        border-color: transparent;
        box-shadow: none;
        border-radius: @border-radius;
        outline: 0;

        &.form-control {
            border-color: transparent;
            box-shadow: none;
        }
    }
}
