.form-inline {
    display: inline-block;
    margin: 0 0 1em;
    position: relative;
    transition: 0.25s all ease-in;


    input {
        padding: 12px;
        height: auto;
        box-shadow: none;
        outline: 0;

        &.form-control {
            border: 1px solid @black;
            border-radius: 0;
            box-shadow: none;
            display: inline-block;
            width: 100%;
        }
    }

    .form-group {
        display: inline-block;
        margin-bottom: 0;

        &.has-success {
            .form-control {
                &:focus {
                    border-color: transparent;
                    box-shadow: none;
                }
            }
        }

        &.has-error {
            .form-control {
                &:focus {
                    border-color: transparent;
                    box-shadow: none;
                }
            }
        }
    }

    .btn {
        display: inline-block;
        transition: 0.25s all ease-in;

        &:focus {
            outline: 0;
        }
    }

    &.has-error {
        border-color: @error-color;

        .form-group {
            .form-control {
                border-color: @error-color;

                &:focus {
                    border-color: transparent;
                }
            }
        }
    }

    &.request-sent {
        border-color: @link-active-color;
    }
}

.email-form {
    position: relative;
    transition: 0.25s all ease-in;

    .btn {
        svg {
            position: relative;
            top: 3px;
            width: 48px;
            height: 18px;

            path {
                transition: all 0.25s ease-in;
            }
        }

        &:hover {
            svg {
                path {
                    stroke: @white;
                }
            }
        }

        &:focus,
        &:active,
        &.active.focus,
        &:active:focus,
        &.active,
        &.focus {
             svg {
                path {
                    stroke: @black;
                }
            }
        }
    }

    .error-message {
        color: @error-color;
        position: absolute;
        width: 100%;
        top: calc(100% - 15px);
        left: 0;
    }
}
