.home,
.mailing-list {
  .col-circles {
    text-align: center;

    img {
      max-width: 100%;
    }
  }

  @media (max-width: 619px) {
    .row {
      flex-direction: column;
      > div {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
}

.home {
  background-image: url(../../static/images/hero-bg.jpg); // Set via cms
  background-position: center;
  background-color: rgba($grey-10, 0.8);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;

  &-video-bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;

    video {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    &-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background-position: center;
      background-color: rgba($grey-10, 0.8);
      background-blend-mode: overlay;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  // Make bg image appear behind the alert on mobile
  padding-top: 72px;

  @media (min-width: #{$bp-medium}) {
    padding-top: 150px;
  }

  // Gradient overlay for background image
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 400px;
    left: 0;
    bottom: 0;

    background: linear-gradient(
      180deg,
      rgba(239, 239, 239, 0) 0%,
      rgba(239, 239, 239, 0.993393) 61.33%,
      #efefef 61.34%,
      #efefef 61.35%,
      #efefef 61.36%
    );
    mix-blend-mode: normal;
    opacity: 0.5;
  }

  h1 {
    margin: 2.5rem 0 0.5em;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.015em;
    color: $black;
  }

  h3 {
    width: 50%;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    align-items: center;
    letter-spacing: -0.005em;
    color: $grey-70;
  }

  .body {
    color: $grey-70;
  }

  @media (min-width: #{$bp-medium}) {
    padding: 110px 0 0;
    margin-top: 0;

    &:before {
      height: 325px;
    }

    h1 {
      margin: 6.875rem 0 0.75em;
      max-width: 872px;
      font-size: 66px;
      line-height: 74px;
      letter-spacing: -0.01em;
    }

    .body {
      max-width: 480px;
      font-weight: 500;
      font-size: 28px;
      line-height: 40px;
    }

    .cta-section {
      margin-top: 40px;
      padding: 0 0 168px;
    }

    .cta-links {
      li {
        display: inline-block;
        *display: inline;

        &:first-child {
          margin-right: 1.5rem;
        }
      }
    }
  }
}
.ticker {
  background-color: $mint-30;
  &-container {
    height: 81px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-content {
    padding: 20px 10px;
    margin: 0 40px;
    span {
      color: $black;
      font-family: Work Sans;
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */

      display: flex;
      align-items: center;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      text-align: center;
    }
  }
}
.feature-carousel {
  .carousel-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel-item {
    max-height: 980px;

    .callout {
      position: absolute;
      width: 184px;
      left: 15px;
      top: 88px;
      z-index: 10;
      padding: 4px 12px;
      background: $primary-color;
      border-radius: 100px;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: $black;
    }

    .carousel-caption {
      text-align: left;

      h3 {
        font-weight: 500;
        font-size: 30px;
        line-height: 38px;
        letter-spacing: -0.005em;
        color: $black;
      }

      p {
        font-weight: 500;
        font-size: 22px;
        line-height: 32px;
        color: $grey-70;
      }
    }

    @media (min-width: #{$bp-medium}) {
      max-height: 1004px;

      .carousel-caption {
        max-width: 45%;

        h3 {
          font-weight: 500;
          font-size: 40px;
          line-height: 50px;
          letter-spacing: -0.005em;
          color: $black;
        }

        p {
          font-weight: 500;
          font-size: 28px;
          line-height: 40px;
          color: $grey-70;
        }
      }
    }
  }
}

.cta-links {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin: 0 0 1em;

    &:first-child {
      .cta-link {
        @extend .btn-primary;
      }
    }
  }

  .cta-link {
    @extend .button;
    color: $black;
    text-decoration: none;
    position: relative;
    white-space: nowrap;
    border: 2px solid $black;
    box-sizing: border-box;
    border-radius: 8px;
  }
}

.summary-grid {
  background-color: $grey-70;

  &-header {
    width: 100%;
    h2 {
      font-weight: 800;
      font-size: 50px;
      line-height: 56px;
      color: $white;
    }
    h3 {
      font-weight: 500;
      font-size: 40px;
      line-height: 50px;
      display: flex;
      align-items: center;
      letter-spacing: -0.005em;
      color: $white;
    }
  }

  &-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &-card {
    flex: 40%;
    padding: 40px;
    margin: 20px 40px 20px 0px;
    background: $white;
    box-shadow: 0px 24px 38px rgba(8, 5, 3, 0.03),
      0px 9px 46px rgba(8, 5, 3, 0.02), 0px 11px 15px rgba(8, 5, 3, 0.06);
    border-radius: 8px;

    .three {
      flex: 0%;
    }

    &-header {
      display: flex;
      margin-bottom: 40px;

      h4 {
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 40px;
        margin-left: 40px;
        width: 270px;
        color: $black;
      }
    }

    a {
      color: $black;
      text-decoration: none;
      position: relative;
      text-align: center;
      white-space: nowrap;
      border: 2px solid $black;
      box-sizing: border-box;
      border-radius: 8px !important;
    }

    &-footer {
      margin-top: 40px;
    }
  }
}
.minilogo-grid {
  width: 100%;
  height: 152px;
  background: #91e9d2;
  padding: 0;
  align-items: center;

  .minilogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    &-item {
      display: flex;
      margin: 10px 20px;
      width: 168px;
      height: 72px;
      img {
        max-width: 100%;
        max-height: 100vh;
        margin: auto;
      }
    }
  }
}
.keep-blog {
  background-color: $white;

  h2 {
    margin-top: 40px;
    margin-bottom: 60px;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 56px;
  }

  &-card {
    width: 100%;
    height: 396px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 24px 38px rgba(8, 5, 3, 0.03),
      0px 9px 46px rgba(8, 5, 3, 0.02), 0px 11px 15px rgba(8, 5, 3, 0.06);
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &-image {
    height: 100%;
  }

  &-content {
    height: 100%;
    padding-left: 80px;
    padding-top: 40px;
    padding-bottom: 60px;
    padding-right: 80px;

    h4 {
      font-weight: 500;
      font-size: 28px;
      line-height: 40px;
      color: $black;
    }

    h5 {
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 32px;
    }
  }

  &-subtitle {
    color: $grey-70;
  }

  &-description {
    color: $grey-70;
  }

  &-date {
    color: $grey-60;
  }

  &-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 20px;
    a {
      color: $secondary-color;
      font-size: 28px;
      &:after {
        content: " ↗";
      }
    }
  }
}
.exchanges {
  background-color: $grey-30;
  h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -0.005em;
    color: $black;
  }

  .links {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: $secondary-color;

      img {
        margin-right: 20px;
      }
      &:after {
        content: " ↗";
      }
    }
  }
}
.token-dashboard {
  padding: 30px 0 0;
  @media (max-width: 991px) {
    .container-md {
      padding: 0;
    }
  }
  .image {
    background: url("../images/img_token-dashboard.png") no-repeat left bottom;
    background-size: contain;
    min-height: 300px;
    @media (max-width: 991px) {
      background-position: center bottom;
    }
  }

  .content {
    padding: 70px 0 100px;

    @media (max-width: 991px) {
      padding: 0 0 50px;
    }
    h2 {
      font-size: 32px;
      line-height: 40px;

      @media (max-width: 991px) {
        font-size: 28px;
        line-height: 36px;
      }
    }
  }
}
.featured-application {
  background: #fffdfc;

  padding-bottom: 85px;

  h2 {
    margin-top: 32px;
    font-size: 4.5rem;
    text-align: center;
  }

  h3 {
    font-family: "Vitesse", "Work Sans", sans-serif;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 3rem;

    margin-bottom: 1.4rem;

    width: 50%;
  }

  section {
    position: relative;
  }

  .application.tbtc {
    background: no-repeat 93%;
    background-image: url(../images/tbtc-app.svg);
  }

  p {
    color: $grey-60;
    font-weight: 100;

    line-height: 1.5rem;
    margin-bottom: 2.5rem;

    width: 40%;
  }

  ul,
  li {
    margin: 0;
    padding: 0;

    list-style-type: none;
    display: inline-block;
  }
  ul li {
    margin-left: 1.25rem;

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    @extend .btn, .btn-default;

    display: inline-block;
  }

  a.primary {
    @extend .btn-primary;

    &:hover,
    &:active {
      &:before {
        display: none;
      }
    }
  }

  @media (max-width: #{$bp-large}) {
    h3 {
      width: 45%;
      font-size: 2rem;
    }

    .application.tbtc {
      background-position-y: -40px;
      background-size: 50%;
    }
  }

  @media (max-width: #{$bp-medium}) {
    h3,
    p {
      width: 100%;
    }

    .application.tbtc {
      background-size: 470px auto;
      background-position: 50% -80px;

      padding-top: 300px;
    }
  }

  @media (max-width: #{$bp-small}) {
    padding-bottom: 35px;

    h2 {
      font-size: 40px;
      margin-bottom: 0;
    }

    h3 {
      font-size: 1.25rem;
      line-height: 2rem;
    }
    .application.tbtc {
      background-size: 70% auto;
      background-position: 50% top;

      padding-top: 200px;
    }
  }

  @media (max-width: 590px /* total width of tBTC links */) {
    ul {
      display: block;
      text-align: center;

      li {
        display: block;
        margin: 0 0 1.5rem;
      }

      a {
        width: 100%;
      }
    }
  }
}

.github {
  text-align: center;

  h3 {
    margin-top: 12px;
  }

  .github-logo {
    display: inline-block;
    width: 129px;
    height: 35px;
    background-image: url(../images/GitHub_Logo.svg);
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 10px;
    position: relative;
    top: 2px;
  }

  .github-link {
    @extend .btn, .btn-primary;
    display: block;
    margin: 30px auto;
    max-width: 150px;

    @media (min-width: #{$bp-medium}) {
      display: inline-block;
      margin: 0 0 0 15px;
    }
  }
}

.team,
.advisors,
.supporters {
  @media (min-width: #{$bp-medium}) {
    .row {
      margin-bottom: 50px;
    }
  }
}

.team,
.advisors {
  h2 {
    width: 100%;
  }

  .container-md {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
}

.description,
.definition {
  .page-section-content {
    @media (min-width: #{$bp-medium}) {
      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: rgba($black, 0.5);
        position: absolute;
        top: 50%;
        left: 0;
        z-index: -1;
      }
    }
  }
}

.logo-wall {
  background-color: $grey-10;

  h2 {
    font-weight: 800;
    font-size: 66px;
    line-height: 74px;
    letter-spacing: -0.01em;
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    a {
      display: block;
      max-width: 40%;
      margin: 20px 15px;

      .gatsby-image-wrapper {
        [aria-hidden="true"] {
          display: none;
        }

        img {
          position: static !important;
        }
      }

      span {
        display: none;
      }
    }
  }

  @media (min-width: #{($bp-medium)}) {
    .row {
      justify-content: space-around;

      a {
        margin: 0 0 45px;
        flex: 0 0 33.33333%;
        max-width: 33.3333%;

        img {
          padding: 30px;
        }
      }
    }
  }
}
.contact {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: white;

  .description {
    font-size: 16px;
    line-height: 24px;
    color: $grey-50;

    @media (min-width: #{$bp-medium}) {
      font-size: 22px;
      line-height: 32px;
    }
  }

  .contact-icon-sm {
    display: none;
  }

  .contact-icon-xs {
    display: block;
  }

  &-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &-card {
    flex: 50%;
    display: flex;
    &-content {
      margin-left: 0px;
      max-width: 100%;
    }
    margin-bottom: 24px;
    padding: 16px;
  }

  &-card-title {
    display: flex;
  }

  &-description {
    width: 300px;
    margin-bottom: 32px;
  }

  .form-group-input {
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 8px !important;
    height: 54px;
  }

  .button-text {
    display: block;
    color: $primary-color;
  }

  @media (min-width: #{$bp-large}) {
    .form-inline {
      min-width: 475px;
    }

    .form-group {
      min-width: 70%;
    }
  }

  @media (max-width: #{($bp-medium - 1)}) {
    h3 {
      font-size: 1.75rem;
    }
    .email-form {
      padding: 16px;
      box-shadow: 0px 6px 18px 2px rgba(8, 5, 3, 0.1);
      border-radius: 10px;

      a.button {
        svg {
          display: none;
        }
      }
    }
    &-card {
      box-shadow: 0px 6px 18px 2px rgba(8, 5, 3, 0.1);
      border-radius: 10px;
    }
    a.button {
      text-align: center;
      font-size: 16px;
      line-height: 19px;
    }
    .description {
      margin-top: 24px;
    }
  }

  @media (min-width: #{$bp-medium}) {
    &-cards {
      margin-top: 152px;
    }

    .button-text {
      display: none;
    }

    &-card-content {
      margin-left: 56px;
      max-width: 344px;
      h3 {
        margin: 0 0 16px;
      }
    }
    .contact-icon-sm {
      display: block;
    }

    .contact-icon-xs {
      display: none;
    }
  }

  @media (min-width: 620px) {
    .form-inline {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
    }

    .form-group {
      margin-right: 5px;
      flex: unset;
    }
  }

  @media (max-width: 619px) {
    .email-form {
      .success-message {
        font-weight: 400;
      }
    }

    .form-inline,
    .form-group {
      display: block;
    }

    .btn {
      display: block;
      width: 100%;
      margin: 10px auto 20px;
    }
  }
}
