.main-content {
    padding-top: 51px;

    @media (min-width: #{$bp-medium}) {
        padding-top: 0;
    }
}

.home,
.discord {
    .col-circles {
        text-align: center;

        img {
            max-width: 100%;
        }
    }

    @media (max-width: 619px) {
        .row {
            flex-direction: column;
            > div {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}

.home {
    h1 {
        margin: 40px 0 1em;
    }

    p {
        color: $accent-text-color;
    }

    @media (min-width: #{$bp-extra-large}) {
        h1, p {
            width: 85%;
        }

        div.body {
            width: 85%;
        }
    }

    @media (min-width: #{$bp-medium}) {
        padding: 170px 0 0;
    }

    @media (max-width: #{($bp-medium - 1)}) {
        padding: 40px 0 0;
    }

    @media (min-width: 768px) and (max-width: 991px) {
        h1 {
            font-size: 40px;
            line-height: 42px;
        }
    }

    @media (min-width: 620px) {
        .col-circles {
            align-self: flex-end;
        }
    }
}

.discord {
    background-color: $background-med-color;

    h3 {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        color: $accent-text-color;
        margin: 10px 0 30px;
    }

    .discord-logo {
        display: inline-block;
        width: 135px;
        height: 33px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        background-image: url(../images/Discord-Wordmark-Gold.svg);
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 9px;
        position: relative;
        bottom: -2px;
    }

    @media (min-width: #{$bp-large}) {
        .form-inline {
            min-width: 475px;
        }

        .form-group {
            min-width: 70%;
        }
    }

    @media (max-width: #{($bp-medium - 1)}) {
        h3 {
            font-size: 22px;
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .discord-logo {
            margin: 0;
        }
    }

    @media (min-width: 620px) {
        padding: 0;

        .col-sm-7 {
            align-self: center;
        }

        .col-circles {
            align-self: flex-start;
        }

        .form-inline {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
        }

        .form-group {
            margin-right: 5px;
            flex: unset;
        }
    }

    @media (max-width: 619px) {
        text-align: center;

        h3 {
            justify-content: center;
        }

        .email-form .success-message {
            font-weight: 400;
        }

        .form-inline,
        .form-group {
            display: block;
        }

        .btn {
            display: block;
            width: 177px;
            margin: 10px auto 20px;
        }

        .col-circles {
            @include aspect-ratio(1, 1);

            &:after {
                content: '';
                display: block;
                width: 100%;
                padding-top: 50%;
                padding-bottom: 40px;
                background-color: $background-light-color;
                position: absolute;
                left: 0;
                bottom: -40px;
                z-index: -1;
            }

            img {
                transform: rotate(90deg);
                transform-origin: center;
                width: 100%;
                position: absolute;
                left: 0;
            }
        }
    }

    @media (max-width: 400px) {
        .col-circles {
            &:after {
                padding-bottom: 0;
            }
        }
    }
}

.github {
    text-align: center;

    h3 {
        margin-top: 12px;
    }

    .github-logo {
        display: inline-block;
        width: 129px;
        height: 35px;
        background-image: url(../images/GitHub_Logo.svg);
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        margin: 0 10px;
        position: relative;
        top: 2px;
    }

    .btn {
        display: block;
        margin: 30px auto;
        max-width: 150px;

        @media (min-width: #{$bp-medium}) {
            display: inline-block;
            margin: 0 0 0 15px;
        }
    }
}

.mailing-list {
    border-top: 1px solid rgba($black, 0.5);
    text-align: center;

    h3 {
        margin: 0 0 20px;
    }

    .form-inline {
        width: 100%;
    }

    @media (min-width: #{$bp-medium}) {
        .form-group {
            min-width: 60%;
        }
    }

    @media (min-width: 481px) {
        .form-inline {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .form-group {
            margin-right: 5px;
        }
    }

    @media (max-width: #{$bp-small}) {
        .form-inline,
        .form-group {
            display: block;
        }

        .btn {
            display: block;
            width: 177px;
            margin: 10px auto 20px;
        }
    }
}

.uses {
    @media (min-width: #{$bp-medium}) {
        padding: 0;
    }

    h2 {
        @media (min-width: #{$bp-medium}) {
            text-align: center;
        }

        @media (max-width: #{($bp-medium - 1)}) {
            margin-bottom: 50px;
        }
    }

    .use-case {
        text-align: center;
        display: inline-block;
        border-bottom: 1px solid rgba($black, 0.5);

        h4 {
            width: 85%;
            margin: 20px auto;
        }

        a {
            color: $black;
        }

        @media (min-width: #{$bp-medium}) {
            width: 33%;
            padding: 70px 0;

            &:first-of-type {
                padding: 30px 0 70px;
            }

            &:nth-child(3n+3) {
                border-left: 1px solid rgba($black, 0.5);
                border-right: 1px solid rgba($black, 0.5);
            }

            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(7) {
                border-bottom: 0;
            }
        }

        @media (max-width: #{($bp-medium - 1)}) {
            width: 50%;
            padding: 40px 0;

            &:nth-child(6),
            &:nth-child(7) {
                border-bottom: 0;
            }
        }

        @media (max-width: #{($bp-small - 1)}) {
            h4 {
                font-size: 18px;
            }
        }
    }

    .page-section-content {
        @media (max-width: #{($bp-medium - 1)}) {
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 100px;
                left: 50%;
                width: 1px;
                height: 90%;
                background-color: rgba($black, 0.5);
            }
        }

        @media (min-width: #{$bp-medium}) {
            &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: -10px;
                left: 0;
                width: 100%;
                height: 10px;

                background-image: url(../images/wall-pattern.png);
                background-repeat: repeat-x;
                background-size: cover;

                @include devicePixelRatio2 {
                    background-image: url(../images/wall-pattern@2x.png);
                }
                @include devicePixelRatio3 {
                    background-image: url(../images/wall-pattern@3x.png);
                }
            }
        }
    }

    .blurb-mobile {
        display: flex;
        position: relative;
        z-index: 1;
        margin-top: 35px;

        @media (min-width: #{$bp-medium}) {
            display: none;
        }
    }
}

.team,
.advisors,
.supporters {
    @media (min-width: #{$bp-medium}) {
        .row {
            margin-bottom: 50px;
        }
    }
}

.team,
.advisors {
    h2 {
        width: 100%;
    }

    .container-md {
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }
}

.description, .definition {
    .page-section-content {
        @media (min-width: #{$bp-medium}) {
            &:before {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background-color: rgba($black, 0.5);
                position: absolute;
                top: 50%;
                left: 0;
                z-index: -1;
            }
        }
    }
}

.supporters {
    background-color: $background-med-color;

    .row {
        justify-content: center;
        align-items: center;

        a {
            display: block;
            margin: 20px 15px;

            .gatsby-image-wrapper {
                [aria-hidden="true"] {
                    display: none;
                }

                img {
                    position: static !important;
                    max-width: 100%;
                }
            }

            span {
                display: none;
            }
        }
    }

    @media (min-width: #{($bp-medium)}) {
        .row {
            justify-content: space-around;

            a {
                margin: 0 0 45px;
                flex: 0 0 33.33333%;
                max-width: 33.3333%;

                img {
                    padding: 30px;
                }
            }
        }
    }
}

.supporters {
    border-top: 1px solid rgba($black, 0.5);
}
