$base-color: #C4C4C4;
$shine-color: #000;
$animation-duration: 1s;

@mixin background-gradient {
  background-color: #fff;
  background-size: 600px;
}

@mixin keyframesForLoadingBlocks($numberOfBlocks) {
  $firstKeyframeValue: floor(floor(100%/$numberOfBlocks)/2);
  $firstKeyframeValueForCurrentBlock: floor(floor(100/$numberOfBlocks)/2);
  $firstKeyframeValueForCurrentBlockInPercent: #{$firstKeyframeValueForCurrentBlock} + '%';

  @keyframes blocks_#{$numberOfBlocks}-shine_block1 {
    0% {
      background-color: #d1d1d1;
    }

    #{$firstKeyframeValue} {
      background-color: #C4C4C4;
    }

    #{$firstKeyframeValue*2}, 100% {
      background-color: #d1d1d1;
    }
  }

  @if $numberOfBlocks > 1 {
    @for $i from 2 through $numberOfBlocks {
      @keyframes blocks_#{$numberOfBlocks}-shine_block#{$i} {
        0%, #{$firstKeyframeValue+$firstKeyframeValue*($i - 2)} {
          background-color: #d1d1d1;
        }

        #{$firstKeyframeValue+$firstKeyframeValue*($i - 1)} {
          background-color: #C4C4C4;
        }

        #{$firstKeyframeValue+$firstKeyframeValue*$i}, 100% {
          background-color: #d1d1d1;
        }
      }
    }
  }
}

@include keyframesForLoadingBlocks(1);
@include keyframesForLoadingBlocks(2);
@include keyframesForLoadingBlocks(3);

.loading-block-container {
  display: inline-flex;

  .block {
    float: left;
    width: 35px;
    height: 50px;
    background-color: #ccc;
    border-radius: 25%;
    margin: 2px;
    align-self: center;
    @include background-gradient;
  }

}