@mixin background-gradient {
  background-color: $white;
  background-size: 600px;
}

@mixin keyframesForLoadingBlocks($numberOfBlocks) {
  $firstKeyframeValue: floor(floor(100%/$numberOfBlocks)/2);
  $firstKeyframeValueForCurrentBlock: floor(floor(100/$numberOfBlocks)/2);
  $firstKeyframeValueForCurrentBlockInPercent: #{$firstKeyframeValueForCurrentBlock} + '%';

  @keyframes blocks_#{$numberOfBlocks}-shine_block1 {
    0% {
      background-color: $grey-25;
    }

    #{$firstKeyframeValue} {
      background-color: $grey-30;
    }

    #{$firstKeyframeValue*2}, 100% {
      background-color: $grey-25;
    }
  }

  @if $numberOfBlocks > 1 {
    @for $i from 2 through $numberOfBlocks {
      @keyframes blocks_#{$numberOfBlocks}-shine_block#{$i} {
        0%, #{$firstKeyframeValue+$firstKeyframeValue*($i - 2)} {
          background-color: $grey-25;
        }

        #{$firstKeyframeValue+$firstKeyframeValue*($i - 1)} {
          background-color: $grey-30;
        }

        #{$firstKeyframeValue+$firstKeyframeValue*$i}, 100% {
          background-color: $grey-25;
        }
      }
    }
  }
}

$maxNumberOfBlocks: 3;
@for $i from 1 through $maxNumberOfBlocks {
  @include keyframesForLoadingBlocks($i);
}

.loading-block-container {
  display: inline-flex;

  .block {
    width: 35px;
    height: 50px;
    background-color: $grey-25;
    border-radius: 25%;
    margin: 2px;
    align-self: center;
    @include background-gradient;
  }

}