.page-section {
    display: flex;
    padding: 40px 0;
    position: relative;
    overflow: visible;

    .page-section-content {
        width: 100%;
        position: relative;
        z-index: 1;
    }

    h3 {
        margin-bottom: 0;
    }

    @media @tablet-up {
        padding: 100px 0;

        h2 {
            margin-bottom: 74px;
        }
    }

    &.blurb {
        @media @tablet-up {
            padding: 40px 0;
        }

        .blurb-panel {
            padding: 60px;
            background-color: @background-med-color;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .blurb-icon {
            padding-right: 40px;
        }

        .blurb-text {
            color: @accent-text-color;
            font-size: 18px;
            font-weight: 500;
            max-width: 420px;
            text-align: left;
        }

        p {
            margin: 0;
            line-height: 22px;
        }
    }

    @media @mobile {
        &.blurb-desktop {
            display: none;
        }
    }
}
