.page-section {
    display: flex;
    padding: 40px 0;
    position: relative;
    overflow: visible;

    .page-section-content {
        width: 100%;
        position: relative;
        z-index: 1;
    }

    h3 {
        margin-bottom: 0;
    }

    @media @tablet-up {
        padding: 100px 0;

        h2 {
            margin-bottom: 74px;
        }
    }
}
