.stake-content {
    .home-stake {
        min-height: 768px;
        background-image: url(/images/features/stake-overview.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 40%;
        min-height: 750px;

        .body {
            margin: 72px 0 40px;
            color: $grey-70;
        }

        @media (max-width: #{$bp-medium - 1}) {
            background-size: 90%;
            background-position: bottom right;

            .body {
                margin: 52px 0 32px;
            }
            .cta-link {
                width: 100%;
            }
        }
    }

    .why {
        background-color: $grey-20;

        h2 {
            margin-bottom: 88px;
        }

        @media (max-width: #{$bp-medium - 1}) {
            h2 {
                margin-bottom: 48px;
            }

            .card {
                min-height: 356px;
            }
        }
    }

    .recommended {
        background-color: $grey-30;

        .body {
            margin: 14px 0 96px;
        }
        @media (max-width: #{$bp-medium - 1}) {
            .body {
                margin: 16px 0 70px;
            }
        }
    }

    .banner-business-team {
        background-color: $grey-20;
        text-align: center;

        h3 {
            margin-bottom: 40px;
            text-align: center;
        }
        @media (max-width: #{$bp-medium - 1}) {
            h3 {
                margin-bottom: 32px;
            }

            .contact-section > .btn {
                width: 100%;
            }
        }
    }

    .tech-guide {
        &-intro {
            @extend .label;
            text-transform: uppercase;
            margin-bottom: 18px;
        }
        &-title {
            margin-bottom: 32px;
        }
        &-body {
            margin-bottom: 42px;
        }
        @media (max-width: #{$bp-medium - 1}) {
            &-intro {
                margin-top: 24px;
            }
            .btn {
                width: 100%;
            }
        }
    }
}
