.team-content {
  background-color: $white;
  .ceo-info {
    h2 {
      margin: 4px 0;
    }

    h5 {
      margin: 4px 0;
    }

    p {
      margin: 45px 0;
    }
  }

  .team-banner {
    background-color: $grey-20;
    h5 {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: $black;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 32px;
      display: flex;
      align-items: center;
      color: $black;
    }

    svg {
      width: 120px;
      height: 120px;
    }
  }

  .team-gallery {
    &-title {
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 50px;display: flex;
      align-items: center;
      letter-spacing: -0.005em;
      color: $black;
      margin: 4px 0;
    }
    &-subtitle {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 40px;
      display: flex;
      align-items: center;
      color: $black;
      margin: 4px 0;
    }
    &-text {
      font-family: Work Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 32px;
      color: $black;
      margin: 28px 0;
    }
  }

  .profiles {
    margin: 40px 0;
    padding: 0;
  }

  .advisor-gallery {
    background-color: $grey-10;
  }

  .title {
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 56px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: $black;
  }

  .subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    align-items: center;
    letter-spacing: -0.005em;
    color: $black;
  }

  .text {
    font-family: Work Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #4C4C4C;
  }
}
