body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: @body-text-color;
    line-height: 1.44;

    @media @tablet-up {
        line-height: 1.79;
    }
}

h1, .h1 {
    font-weight: 800;
    font-size: 70px;
    letter-spacing: -1px;
}

h2, .h2 {
    font-weight: 800;
    font-size: 50px;
}

h3, .h3 {
    font-weight: 600;
    font-size: 30px;
}

h4, .h4 {
    font-weight: 700;
    font-size: 20px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
    line-height: 1.38;
}

small, .small {
    font-size: 14px;
    line-height: 1.38;
}

@media @mobile {
    h1, .h1,
    h2, .h2,
    h3, .h3 {
        font-size: 30px;
        line-height: 1.33;
    }

    h2, .h2 {
        margin-bottom: 50px;
    }
}

p {
    margin: 0 0 1.4em;
}

a {
    color: @link-color;
}

.light-font {
    font-weight: 400;
}

.small-title {
    font-size: 16px;
    font-weight: 500;
}

.btn {
    padding: 10px 33px;
    border-radius: 0;

    svg {
        vertical-align: middle;
    }
}

.btn-default {
    background-color: @white;
    color: @link-color;
    border-color: @white;
}

.btn-primary {
    background-color: @black;
    border-color: @black;
    color: @link-color;
}

.btn-default,
.btn-primary,
.btn-primary[disabled],
.btn-primary.disabled {
    transition: 0.25s all ease-in;

    &:hover {
        background-color: @black;
        color: @white;
    }

    &:focus,
    &:active,
    &.active.focus,
    &:active:focus,
    &.active,
    &.focus {
        background-color: @link-color;
        border-color: @link-color;
        color: @black;
        box-shadow: none;
        padding: 8px 30px;
    }

    &:focus {
        outline: 0;
    }
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    opacity: 0.5;
}
