// Colors

$aqua-marine: #48dbb4;
$mint-10: #EDFBF7;
$mint-20: #C8F4E9;
$mint-30: #91E9D2;
$mint-40: #48DBB4;
$mint-50: #12C0A1;
$mint-60: #1BA58C;
$violet: #7850CD;
$brass: #AC6E16;
$black: #0A0806;
$white: #FFFFFF;
$grey-light: #f2f2f2;
$grey-10: #F4F4F4;
$grey-20: #E6E6E6;
$grey-30: #c4c4c4;
$grey-40: #AAAAAA;
$grey-50: #818181;
$grey-60: #6d6d6d;
$grey-70: #4c4c4c;

$body-text-color: $black;
$accent-text-color: $brass;
$primary-color: $mint-40;
$secondary-color: $violet;
$border-color: rgba($body-text-color, 0.25);
$error-color: $brass;
$background-light-color: $grey-10;
$background-med-color: $grey-20;

// Border radius
$border-radius: 100px;

// Breakpoints
$max-page-width: 1440px;
$bp-extra-large: 1200px;
$bp-large: 992px;
$bp-medium: 768px;
$bp-small: 576px;

// Font Size


