// Colors

@aqua-marine: #48dbb4;
@pale-grey: #edfaf7;
@light-blue-grey: #cfe6e0;
@charcoal: #293330;
@gunmetal: #505e5b;
@steel-grey: #6c807a;
@white: #fff;
@black: #333;
@rose-pink: #f57f97;

@link-color: @aqua-marine;
@syntax-highlight-color: @rose-pink;
@light-on-dark-color: @white;
@grey-on-light-color: @gunmetal;
@background-light-color: @pale-grey;
@background-dark-color: @charcoal;
@background-med-color: @aqua-marine;

// Border radius
@border-radius: 100px;

// Breakpoints
@tablet-up: ~'only screen and (min-width: 768px)';

// High res
@high-res: ~'only screen and ( -webkit-min-device-pixel-ratio: 1.3 ),
       only screen and (    min--moz-device-pixel-ratio: 1.3 ),
       only screen and (      -o-min-device-pixel-ratio: 2.6/2 ),
       only screen and (         min-device-pixel-ratio: 1.3 ),
       only screen and ( min-resolution: 124.8dpi ),
       only screen and ( min-resolution: 1.3dppx )';
