// Colors

@aqua-marine: #48dbb4;
@pale-grey: #edfaf7;
@light-blue-grey: #cfe6e0;
@charcoal: #293330;
@gunmetal: #505e5b;
@steel-grey: #6c807a;
@white: #fff;

@link-color: @aqua-marine;
@light-on-dark-color: @white;
@background-light-color: @pale-grey;
@background-dark-color: @charcoal;
@background-med-color: @aqua-marine;

@border-radius: 100px;
