@font-face {
    font-family: 'Vitesse';
    src: url('../fonts/VitesseSSm-BlackItalic.woff2') format('woff2'),
        url('../fonts/VitesseSSm-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Vitesse';
    src: url('../fonts/VitesseSSm-Bold.woff2') format('woff2'),
        url('../fonts/VitesseSSm-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Vitesse';
    src: url('../fonts/VitesseSSm-MediumItalic.woff2') format('woff2'),
        url('../fonts/VitesseSSm-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Vitesse';
    src: url('../fonts/VitesseSSm-BookItalic.woff2') format('woff2'),
        url('../fonts/VitesseSSm-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Vitesse';
    src: url('../fonts/VitesseSSm-BoldItalic.woff2') format('woff2'),
        url('../fonts/VitesseSSm-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Vitesse';
    src: url('../fonts/VitesseSSm-Black.woff2') format('woff2'),
        url('../fonts/VitesseSSm-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Vitesse';
    src: url('../fonts/VitesseSSm-Book.woff2') format('woff2'),
        url('../fonts/VitesseSSm-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vitesse';
    src: url('../fonts/VitesseSSm-LightItalic.woff2') format('woff2'),
        url('../fonts/VitesseSSm-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Vitesse';
    src: url('../fonts/VitesseSSm-Light.woff2') format('woff2'),
        url('../fonts/VitesseSSm-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Vitesse';
    src: url('../fonts/VitesseSSm-Medium.woff2') format('woff2'),
        url('../fonts/VitesseSSm-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
